In [12]:
import numpy as np
import pandas as pd

In [13]:
data = pd.read_csv('hdfc_news_data_chum.csv')

In [14]:
data.head()

,web-scraper-order,web-scraper-start-url,Headlines,pages,pages-href,Year,Year-href
0,1706897226-1,https://www.moneycontrol.com/company-article/h...,Does RIL set the stage for largecaps comeback?...,NaN,NaN,NaN,NaN
1,1706897226-2,https://www.moneycontrol.com/company-article/h...,12.09 pm | 30 Jan 2024 | Source: Moneycontro...,NaN,NaN,NaN,NaN
2,1706897226-3,https://www.moneycontrol.com/company-article/h...,Credit Suisse AT1 bond fallout hits India’s mo...,NaN,NaN,NaN,NaN
3,1706897226-4,https://www.moneycontrol.com/company-article/h...,7.17 am | 30 Jan 2024 | Source: Bloomberg,NaN,NaN,NaN,NaN
4,1706897226-5,https://www.moneycontrol.com/company-article/h...,LIC's proposed stake buyout in HDFC Bank 'well...,NaN,NaN,NaN,NaN

In [15]:
data.drop(['web-scraper-order', 'web-scraper-start-url', 'pages', 'pages-href', 'Year', 'Year-href'], axis=1, inplace=True)

In [16]:
data.head()

                                           Headlines
0  Does RIL set the stage for largecaps comeback?...
1  12.09 pm | 30 Jan 2024 |   Source: Moneycontro...
2  Credit Suisse AT1 bond fallout hits India’s mo...
3        7.17 am | 30 Jan 2024 |   Source: Bloomberg
4  LIC's proposed stake buyout in HDFC Bank 'well...

###  Spliting the 'Headlines' column

In [29]:
data[['Time', 'Date', 'Source']] = data['Headlines'].str.split('|', expand=True)

### Cleaning up the columns

In [31]:
data['Time'] = data['Time'].str.strip()
data['Date'] = data['Date'].str.strip()
data['Source'] = data['Source'].str.replace('Source:', '').str.strip()

### Remove the extracted part from the original 'Headliens' column

In [32]:
data['Headlines'] = data['Headlines'].str.split('|').str[0].str.strip()

In [33]:
data

,Headlines,Time,Date,Source
0,Does RIL set the stage for largecaps comeback?...,Does RIL set the stage for largecaps comeback?...,None,None
1,12.09 pm,12.09 pm,30 Jan 2024,Moneycontrol.com
2,Credit Suisse AT1 bond fallout hits India’s mo...,Credit Suisse AT1 bond fallout hits India’s mo...,None,None
3,7.17 am,7.17 am,30 Jan 2024,Bloomberg
4,LIC's proposed stake buyout in HDFC Bank 'well...,LIC's proposed stake buyout in HDFC Bank 'well...,None,None
...,...,...,...,...
475,3.10 pm,3.10 pm,11 Dec 2015,CNBC-TV18
476,Buy Suven Life Sciences: Rajat Bose,Buy Suven Life Sciences: Rajat Bose,None,None
477,2.43 pm,2.43 pm,11 Dec 2015,CNBC-TV18
478,"Like Tata Motors, prefer ICICI Bank: R Sreesankar","Like Tata Motors, prefer ICICI Bank: R Sreesankar",None,None
479,4.35 pm,4.35 pm,10 Dec 2015,CNBC-TV18

In [34]:
data.to_csv('chum_cleaned_data.csv', index=False)

In [36]:
df = pd.read_csv('chum_cleaned_data.csv')

In [37]:
df.head()

,Headlines,Time,Date,Source
0,Does RIL set the stage for largecaps comeback?...,Does RIL set the stage for largecaps comeback?...,NaN,NaN
1,12.09 pm,12.09 pm,30 Jan 2024,Moneycontrol.com
2,Credit Suisse AT1 bond fallout hits India’s mo...,Credit Suisse AT1 bond fallout hits India’s mo...,NaN,NaN
3,7.17 am,7.17 am,30 Jan 2024,Bloomberg
4,LIC's proposed stake buyout in HDFC Bank 'well...,LIC's proposed stake buyout in HDFC Bank 'well...,NaN,NaN

In [38]:
df = df.drop('Source', axis=1)

In [39]:
df.head()

,Headlines,Time,Date
0,Does RIL set the stage for largecaps comeback?...,Does RIL set the stage for largecaps comeback?...,NaN
1,12.09 pm,12.09 pm,30 Jan 2024
2,Credit Suisse AT1 bond fallout hits India’s mo...,Credit Suisse AT1 bond fallout hits India’s mo...,NaN
3,7.17 am,7.17 am,30 Jan 2024
4,LIC's proposed stake buyout in HDFC Bank 'well...,LIC's proposed stake buyout in HDFC Bank 'well...,NaN

In [40]:
df.to_csv('chum_cleaned_data.csv', index=False)

In [42]:
df2 = pd.read_csv('chum_cleaned_data.csv')

In [47]:
df2.head(10)

,Headlines,Time,Date
0,Does RIL set the stage for largecaps comeback?...,12.09 pm,30-Jan-24
1,12.09 pm,Credit Suisse AT1 bond fallout hits India’s mo...,NaN
2,Credit Suisse AT1 bond fallout hits India’s mo...,7.17 am,30-Jan-24
3,7.17 am,LIC's proposed stake buyout in HDFC Bank 'well...,NaN
4,LIC's proposed stake buyout in HDFC Bank 'well...,5.47 pm,29-Jan-24
5,5.47 pm,HDFC Bank may open higher after LIC gets RBI n...,NaN
6,HDFC Bank may open higher after LIC gets RBI n...,8.29 am,29-Jan-24
7,8.29 am,HDFC Bank may open higher after LIC gets RBI n...,NaN
8,HDFC Bank may open higher after LIC gets RBI n...,8.29 am,29-Jan-24
9,8.29 am,"Bulls likely to back HDFC Bank, Greaves Cotton...",NaN

### Drop odd-numbered rows starting from index 1

In [48]:
df2 = df2.iloc[::2]

### Reset index to rows shift up

In [51]:
df2.reset_index(drop=True, inplace=True)

In [52]:
df2.head(10)

                                           Headlines      Time       Date
0  Does RIL set the stage for largecaps comeback?...  12.09 pm  30-Jan-24
1  Credit Suisse AT1 bond fallout hits India’s mo...   7.17 am  30-Jan-24
2  LIC's proposed stake buyout in HDFC Bank 'well...   5.47 pm  29-Jan-24
3  HDFC Bank may open higher after LIC gets RBI n...   8.29 am  29-Jan-24
4  HDFC Bank may open higher after LIC gets RBI n...   8.29 am  29-Jan-24
5  Bulls likely to back HDFC Bank, Greaves Cotton...   7.42 am  28-Jan-24
6  CAMS drops 2% after HDFC Bank sells 2% of shar...  10.16 am  24-Jan-24
7  Trade Spotlight: Your strategy to deal in HDFC...   6.11 am  24-Jan-24
8  HDFC Bank gains after the big fall. CLSA says ...  10.09 am  19-Jan-24
9       Buy HDFC Bank; target of Rs 1950: KR Choksey   8.49 am  19-Jan-24

In [53]:
df2.to_csv('chum_cleaned_data.csv', index=False)