In [16]:
import requests
import pandas as pd

## Api and base url decleration

In [33]:
api_key = '1e4408e4e10f45369c6a202ad458a65d'
base_url = 'https://newsapi.org/v2/everything'

## Target company variable

In [34]:
company_name = 'HDFC Bank Limited (HDB)'

## Date to extract from till to

In [53]:
from_date = '2023-12-27'
to_date = '2024-01-27'

## Define parameters for API request

In [54]:
params = {
    'q': company_name,
    'apiKey': api_key,
    'from': from_date,
    'to': to_date,
}

## Make API request

In [55]:
response = requests.get(base_url, params=params)

## Check if the request was successful (status code 200)

In [60]:

if response.status_code == 200:
    # Parse JSON response
    data = response.json()
    
    # Check if 'articles' key is present in the response
    if 'articles' in data:
        # Extract relevant information
        headlines = [article['title'] for article in data['articles']]
        
        
        # Create a DataFrame and save it to CSV
        df = pd.DataFrame({'Headlines': headlines})
        df.to_csv('news_headlines.csv', index=False)
        
    else:
        print('No article found in the response.')

else:
    print(f'Error: {response.status_code}')

In [61]:
df.head()

                                           Headlines
0  Should You Consider Adding HDFC Bank Limited (...
1  BSW Wealth Partners Purchases New Shares in HD...
2  Principal Financial Group Inc. Sells 10,864 Sh...
3  HDFC Bank Limited (NYSE:HDB) Short Interest Up...
4  Handelsinvest Investeringsforvaltning Reduces ...

In [62]:
df.tail()

                                            Headlines
16  Fifth Third Bancorp Reduces Stock Position in ...
17  Matthews International Capital Management LLC ...
18  Advisor OS LLC Buys 1,179 Shares of HDFC Bank ...
19  Stock Market Live Updates: Asian markets mixed...
20  Share Market Highlights 12 January 2024: Sense...

In [63]:
df

                                            Headlines
0   Should You Consider Adding HDFC Bank Limited (...
1   BSW Wealth Partners Purchases New Shares in HD...
2   Principal Financial Group Inc. Sells 10,864 Sh...
3   HDFC Bank Limited (NYSE:HDB) Short Interest Up...
4   Handelsinvest Investeringsforvaltning Reduces ...
5        HDFC Bank (NYSE:HDB) Shares Gap Up to $55.59
6   Migdal Insurance & Financial Holdings Ltd. Rai...
7   Orion Portfolio Solutions LLC Has $5.63 Millio...
8   HDFC Bank Limited (NYSE:HDB) Shares Sold by Yo...
9   Maple Brown Abbott Ltd Purchases New Stake in ...
10  HDFC Bank Limited (NYSE:HDB) Position Lifted b...
11  Brown Advisory Inc. Purchases 250,261 Shares o...
12  Channel Wealth LLC Raises Stake in HDFC Bank L...
13    HDFC Bank (NYSE:HDB) Sees Large Volume Increase
14  HDFC Bank Limited (NYSE:HDB) Position Increase...
15  Capital Insight Partners LLC Raises Position i...
16  Fifth Third Bancorp Reduces Stock Position in ...
17  Matthews International Capital Management LLC ...
18  Advisor OS LLC Buys 1,179 Shares of HDFC Bank ...
19  Stock Market Live Updates: Asian markets mixed...
20  Share Market Highlights 12 January 2024: Sense...